.tags {
  display: flex;
  flex-wrap: wrap;
  min-width: 115px;
  gap: 30px;
  padding-top: 10px;

  &__element {
    width: auto;
    height: 25px;
    color: $color-secondary;
    background-color: $color-primary;
    font-size: 14px;
    font-weight: 700;
    padding: 0 20px;
    border: 1px solid $color-primary;
    justify-content: center;
    display: flex;
    border-radius: 25px;
    align-items: center;
  }
}

/********version mobile*****/

@media (max-width: 468px) {
  .tags {
    min-width: 84px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &__element {
      min-width: 84px;
      height: 18px;
      font-size: 10px;
      padding: 5px;
    }
  }
}
