.tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 20px;
  padding: 15px 15px 0px 15px;

  &__element {
    width: auto;
    height: 25px;
    color: $color-secondary;
    background-color: $color-primary;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 20px;
    border: 1px solid $color-primary;
    border-radius: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
