.star {
  display: flex;
  gap: 5px;

  &__rating {
    width: 24px;
    height: 24px;
  }
}

/* Responsive */

@media (max-width: 768px) {
  .star {
    &__rating {
      width: 16px;
      height: 16px;
    }
  }
}
