// variables
// -----------------------------
$color-primary: #FF6060;
$color-secondary: #FFFFFF;
$color-background-main: #ffffff;
$color-background-gallery: #F6F6F6 ;
$color-bckgrd-collapse: #F6F6F673;
$color-backgd-footer: #000000;
$color-background-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
//----------------------

// Style Police
//----------------------
$font-general: 'Montserrat', sans-serif;
//----------------------

// Taille Police
//----------------------
$size-logo: 35px;
$size-text-banner: 48px;
$size-title: 36px;
$Size-title_2: 18px;
$size-title_2_lg: 24px;
$size-text: 18px;
$size-nav: 24px;
$size-card : 18px;
//----------------------