.header__container {
  max-width: 1240px;
  height: 68px;
  width: 100%;
  margin: 40px auto 20px auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 210px;
    height: 68px;
  }

  .header__navigation {
    display: flex;
    gap: 50px;
    padding-top: 10px;
    margin: 20px;
  }

  .nav__link {
    font-size: $size-nav;
    font-weight: 500;
    &:hover {
      font-weight: bold;
    }
    &.active {
      border-bottom: 1px solid black;
    }
  }
}
