.error {
  color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-bottom: 80px;

  &__title {
    font-weight: 700;
    font-size: $size-erreur-404;
  }

  &__text {
    font-weight: 500;
    font-size: $size-erreur-text;
    text-align: center;
  }

  &__link {
    font-weight: 500;
    font-size: $size-erreur-link;
    text-decoration: underline;
  }

  &__main {
    height: 1213px;
  }
}

/************* tablette / Mobile *******************/
@media (max-width: 768px) {
  .error {
    gap: 113px;
    margin-bottom: 80px;
    &__title {
      margin-top: 70px;
      font-size: 96px;
    }

    &__text {
      width: 260px;
      height: 52px;
      font-size: $size-erreur-text-s;
    }

    &__link {
      font-size: $size-erreur-link-s;
    }
    &__main {
      height: 898px;
    }
  }
}
