.banner {
    width: 1240px;
    height: 223px;
    background-color: #000000;
    position: absolute;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 60%;
    }

    &__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
        font-size: $size-text-banner;
        font-weight: 700;
    }
}
