.banner {
  width: 100%;
  min-width: 335px;
  max-width: 1240px;
  max-height: 233px;
  min-height: 111px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;

  &__image {
    width: 100%;
    max-width: 1240px;
    display: block;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.6);
  }

  &__text {
    max-width: 760px;
    max-height: 68px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: $size-text-banner;
    font-weight: 700;
    z-index: 2;
    text-shadow: /*** contour des lettres en noir ***/
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000,
      0 2px 5px rgba(0, 0, 0, 0.5);
  }
}

/************* tablette *******************/

@media (max-width: 768px) {
  .banner {
    &__image {
      border-radius: 10px;
    }
    &__text {
      margin: 0 20px;
    }

    &__text {
      font-size: $size-text-banner-m;
    }
  }
}

/************* Mobile *******************/
@media (max-width: 480px) {
  .banner {
    max-height: 111px;

    &__text {
      font-size: $size-text-banner-s;
    }
  }
}
